.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.App-logo {
  width: 1000px;
  height: 100px;
 
  position: relative;
  animation: myfirst 5s infinite;
  animation-direction: normal;
}

@keyframes myfirst {

  0%   {left: 0px; top: 0px; transform: rotate(0deg);}
  25%  { left: 50px; top: 0px;  transform: rotate(45deg);}
  50%  { left: 100px; top: 0px; transform: rotate(90deg);}
  75%  { left: 150px; top: 0px; transform: rotate(135deg);}
  100% { left: 200px; top: 0px; transform: rotate(180deg);}
} 

/* @keyframes example {
    100%{
         transform: rotate(180deg);
    }
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
